---
import type { CollectionEntry } from "astro:content";
import type { AuthorProfile } from "../content/data";
import { AuthorProfileImageType } from "../content/data"
import { getGravatarImageUrl } from "../scripts/utils";

interface Props {
    adm: AuthorProfile
}

const imageSize = 200

const { adm } = Astro.props
const imageUrl = adm.profileImageType === AuthorProfileImageType.Gravatar ? getGravatarImageUrl(adm.email, imageSize) : adm.profileImageUrl
---
<div class="avatar">
    <div class="rounded-xl">
        <img src={imageUrl} alt={adm.profileImageAlt} width={imageSize} height={imageSize}>
    </div>
</div>