---
import IconButton from "./IconButton.astro";
---

<footer class="bg-mantle dark:bg-dark_mantle text-text dark:text-dark_text font-text">
    <div class="flex flex-row h-14 w-100 gap-6 items-center p-5 px-10">
        <span>
            <IconButton name="github"width="30" height="30"/>
        </span>
        <span>
            <IconButton name="linkedin" width="30" height="30"/>
        </span>
    </div>
</footer>