---
import Icon from "astro-icon"

interface Props {
    name: string,
    width: string,
    height: string
}

const props = Astro.props
---

<button class="transition hover:scale-110 focus:ring-2">
    <Icon name={props.name} width={props.width} height={props.height}/>
</button>