---
import { Icon } from "astro-icon/components";

interface Props {
    name: string,
    size: number,
    alt: string
}

const { name, size, alt } = Astro.props
---

<button class="transition hover:scale-110 focus:ring-2" aria-label={alt}>
    <Icon name={name} size={size}/>
</button>