---
import { Image } from "astro:assets";
import lrLogo from "../images/lr_logo.png"

const logoAlt = "Logo LR Tech Blog"
---

<div class="saturate-100 hue-rotate-30 btn btn-ghost h-auto">
    <a href="/">
        <Image class:list={"transition hover:scale-105"} src={lrLogo} alt={logoAlt} width={90} />
    </a>
</div>