---
import { Image } from 'astro:assets';
---

<div class="saturate-100 hue-rotate-30 btn btn-ghost h-auto">
    <a href="/">
        <Image src="/images/lr_logo.png" alt="logo-blog" class="transition hover:scale-105" width="100" height="100"/>
    </a>
</div>