---
import { Image } from 'astro:assets';
---

<div class="saturate-100 hue-rotate-30 btn btn-ghost h-auto">
    <a href="/">
        <img src="/images/lr_logo.png" alt="logo-blog" class="transition hover:scale-105" width="90"/>
    </a>
</div>