---
interface Props {
    text: string,
}

const { text } = Astro.props
---

<a href=`/filter/type/${text}`>
    <span class="badge bg-mantle dark:bg-dark_mantle badge-accent border-surface1 dark:border-dark_surface0 
    text-text dark:text-dark_text hover:scale-105">
        {text}
    </span>
</a>