---
interface Props {
    text: string
}

const { text } = Astro.props
---

<span class="badge bg-mantle dark:bg-dark_mantle border-mantle dark:border-dark_mantle text-text dark:text-dark_text badge-accent">
    {text}
</span>