---
import { Badge } from './ui/badge'

interface Props {
    text: string,
}

const { text } = Astro.props
---

<a href=`/filter/type/${text}`>
    <Badge className="text-sm">
        {text}
    </Badge>
</a>