---
import IconButton from "./IconButton.astro";
---

<aside class="flex flex-row gap-6 items-center">
    <span class="font-bold text-xs">SHARE</span>
    <span id="copyLink">
        <IconButton name="link" size={30} alt="Copy link" />
    </span>
    <span id="shareTwitter">
        <IconButton name="twitter" size={30} alt="Share on Twitter (X)"/>
    </span>
    <!-- <button id="shareLinkedin" class="transition hover:scale-110">
        <Icon name="linkedin" width="30" height="30"/>
    </button> -->
</aside>

<script>
  import { shareTwitter, shareLinkedin } from "../scripts/share";

  document.addEventListener("astro:page-load", () => {
    document.getElementById("copyLink")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      navigator.clipboard.writeText(link);
    });
    document.getElementById("shareTwitter")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      shareTwitter(link);
    });
    document.getElementById("shareLinkedin")?.addEventListener("click", () => {
      const link = encodeURI(window.location.href);
      shareLinkedin(link);
    });
  });
</script>
