---
import Icon from "astro-icon";
import IconButton from "./IconButton.astro";
---

<div class="flex flex-col gap-6 items-center">
    <span class="font-bold text-xs">SHARE</span>
    <span id="copyLink">
        <IconButton name="link" width="30" height="30"/>
    </span>
    <span id="shareTwitter">
        <IconButton name="twitter" width="30" height="30"/>
    </span>
    <!-- <button id="shareLinkedin" class="transition hover:scale-110">
        <Icon name="linkedin" width="30" height="30"/>
    </button> -->
</div>

<script>
    import { shareTwitter, shareLinkedin } from "../scripts/share"

    document.getElementById("copyLink")?.addEventListener("click", () => {
        const link = encodeURI(window.location.href)
        navigator.clipboard.writeText(link)
    })
    document.getElementById("shareTwitter")?.addEventListener("click", () => {
        const link = encodeURI(window.location.href)
        shareTwitter(link)
    })
    document.getElementById("shareLinkedin")?.addEventListener("click", () => {
        const link = encodeURI(window.location.href)
        shareLinkedin(link)
    })
</script>