---
import { Badge } from "./ui/badge";

interface Props {
  tag: string;
}

const { tag } = Astro.props;
const isFormated = tag.startsWith("#", 0);
const tagClean: string = !isFormated ? tag : tag.slice(1, tag.length - 1);
---

<span transition:name={tag} class="transition-transform hover:scale-105">
  <a href=`/filter/tag/${tag}`>
    <Badge variant={"outline"}>
      #{tagClean}
    </Badge>
  </a>
</span>