---

---

<div
  id="post-prose"
  class="prose max-w-none
prose-headings:text-foreground prose-headings:font-bold prose-h1:text-3xl
prose-h2:text-2xl prose-h3:text-xl prose-p:text-foreground prose-table:table-fixed
sm:prose-em:break-words sm:prose-code:break-words prose-ul:text-foreground prose-code:font-code
prose-ol:text-foreground prose-code:text-muted-foreground
prose-img:rounded-md prose-strong:text-muted-foreground prose-a:text-muted-foreground"
>
  <slot />
</div>
