---
import { Icon } from "astro-icon/components";

interface Props {
    readTime: string
}

const { readTime } = Astro.props

---

<div class="flex flex-row items-center">
    <Icon name="time" size={16}/>
    <p class="ml-1">
        {readTime}
    </p>
</div>