---
import { Icon } from "astro-icon/components";
import TooltipComplete from "./TooltipComplete";
interface Props {
  name: string;
  iconName: string;
  iconColor: string;
}

const { name, iconName, iconColor } = Astro.props;
---

<TooltipComplete client:visible tooltipText={name}>
  <div class="shadow-lg bg-card rounded-sm
p-3 border">
    <Icon name={iconName} size={30} color={iconColor} />
  </div>
</TooltipComplete>
