---
import type { AuthorProfileStack } from "../scripts/types/post_types";
import StackTechCard from "./StackTechCard.astro";

interface Props {
  stack: AuthorProfileStack[];
  listClass?: string | undefined;
}
const { stack, listClass } = Astro.props;
---

<div>
  <small>STACK</small>
  <ul class={listClass ?? "flex flex-wrap gap-3"}>
    {
      stack.map((s) => (
        <li>
          <StackTechCard
            name={s.name}
            iconName={s.iconName}
            iconColor={s.iconColor}
          />
        </li>
      ))
    }
  </ul>
</div>
