---
import { Icon } from 'astro-icon'
---

<button id="toggle-theme" class="swap swap-rotate" aria-label="Toggle light/dark mode">
    <span id="toggle-icon-sun" class="swap-on">
        <Icon name="sun" width="30" height="30" />
    </span>
    <span id="toggle-icon-moon" class="swap-off">
        <Icon name="moon-stars" width="30" height="30" />
    </span>
</button>

<script>
    import { toggleDarkMode } from "../scripts/theme";

    document.addEventListener("astro:page-load", () => {
        const button = document.getElementById("toggle-theme")
        const iconMoon = document.getElementById("toggle-icon-moon")
        const iconSun = document.getElementById("toggle-icon-sun")

        function buttonClickHandler() {
            const newTheme = toggleDarkMode()
            const isDarkMode = newTheme === "dark"
            if(isDarkMode) {
                iconMoon?.classList.add("swap-on")
                iconMoon?.classList.remove("swap-off")

                iconSun?.classList.remove("swap-on")
                iconSun?.classList.add("swap-off")
            }
            else {
                iconSun?.classList.add("swap-on")
                iconSun?.classList.remove("swap-off")

                iconMoon?.classList.remove("swap-on")
                iconMoon?.classList.add("swap-off")
            }
        }
        
        button?.addEventListener("click", buttonClickHandler)
    })
</script>