---
import Icon from "astro-icon";
import ToggleLightDark from "./ToggleLightDark.astro";
---

<header class="flex flex-row-reverse justify-between items-center">
    <div class="flex flex-row gap-5">
        <ToggleLightDark/>
    </div>
</header>