---
import LayoutBase from "./LayoutBase.astro";

interface Props {
    title: string | null
}

const { title } = Astro.props
const defaultTitle = "Luan Roger"
---

<LayoutBase title={title ?? defaultTitle}>
        <div class="mx-10">
            <main>
                <slot/>
            </main>
        </div>
</LayoutBase>