---
import TopBar from "../components/TopBar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/poppins";
import "@fontsource/jetbrains-mono";
import { ClientRouter } from "astro:transitions";
import SpeedInsights from '@vercel/speed-insights/astro';
import BackToTopButton from "../components/BackToTopButton.astro";

import "@/styles/global.css";

interface Props {
  title: string;
  bttEnable?: boolean | undefined;
  metaDescription?: string | undefined;
  className?: string | undefined;
}

const { title, bttEnable = false, metaDescription, className } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-chrome192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/android-chrome512.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={metaDescription ??
        "Blog de tecnologia com conteúdo técnico sobre programação e software."}
    />
    <title>{title}</title>
    <ClientRouter />
    <SpeedInsights />
  </head>
  <body>
    <div class="p-7">
      <TopBar />
      <main class={className}>
        <slot />
      </main>
      <BackToTopButton enable={bttEnable} />
    </div>
    <Footer />
    <script>
      import { getCurrentThemeMode } from "../scripts/theme";

      document.addEventListener("astro:after-swap", () => {
        const currentTheme = getCurrentThemeMode();
        if (currentTheme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });
      document.addEventListener("astro:page-load", () => {
        const currentTheme = getCurrentThemeMode();
        if (currentTheme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });
    </script>
  </body>
</html>
