---
import TopBar from "../components/TopBar.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/poppins";
import { ViewTransitions, fade } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions/>
  </head>
  <body>
    <div class="p-7">
      <TopBar />
      <NavBar />
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<script>
  import { getCurrentThemeMode } from "../scripts/theme";

  const currentTheme = getCurrentThemeMode();
  if (currentTheme === "dark") {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    h1 {
      @apply font-bold text-3xl
    }
    h2 {
      @apply font-bold text-xl
    }
    h3 {
      @apply text-sm
    }
    .undeline-link {
      @apply link
    }
  }

  @layer containers {
    body {
      @apply bg-base dark:bg-dark_base text-text dark:text-dark_text font-text flex flex-col h-screen justify-between
    }
    footer {
      @apply bg-mantle dark:bg-dark_mantle text-text dark:text-dark_text
    }
  }
</style>