---
import LayoutBase from "./LayoutBase.astro";

interface Props {
    title?: string
}

const { title } = Astro.props
const defaultTitle = "LR Tech Blog"
---

<LayoutBase title={title ?? defaultTitle} bttEnable={false} >
        <div class="mx-10">
            <main>
                <slot/>
            </main>
        </div>
</LayoutBase>